* {
    background-color: black;
    box-sizing: border-box;
}

.headers {
    color: white;
}

.important {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}

li,p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.list-home {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;

}

.steps {
    margin-bottom: 3em;
}


.div.steps {
    padding: 2em;
}

.list.steps {
    margin-bottom: 2em;
}

.bckbtn{
    background-color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}